@model Course
@{
    ViewData["Title"] = "Update";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Update Course Items</h4>

        <form method="post">
            <img src="@Model.ImagePath" style="width:300px" />
            <div class="row mb-4">
                <label asp-for="ImagePath" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="ImagePath" class="form-control" id="horizontal-firstname-input" placeholder="Enter Image Path ">
                    <span class="text-danger" asp-validation-for="ImagePath"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label asp-for="Title" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control" id="horizontal-firstname-input" placeholder="Enter Title ">
                    <span class="text-danger" asp-asp-validation-for="Title"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Description" class="form-control" id="horizontal-firstname-input" placeholder="Enter Description ">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label asp-for="CourseCatagory" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="CourseCatagory" class="form-control" id="horizontal-firstname-input" placeholder="Enter Course Catagory ">
                    <span class="text-danger" asp-validation-for="CourseCatagory"></span>
                </div>
                @*<label class="col-md-2 col-form-label">Select</label>
                <div class="col-md-10">
                    <select class="form-select" name="CatagoryId">
                        @foreach (var catagory in ViewBag.Catagories)
                        {
                            <option value="@catagory.Id">@catagory.Catagory</option>
                        }
                    </select>
                </div>*@
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-9">
                    <div>
                        <button asp-action="Update" type="submit" class="btn btn-primary w-md">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end card body -->
</div>

@section Script{
    <partial name="_ValidationScript" />
}

